* {
    margin: 0;
    padding: 0;
}

/* Estilização Header */

header {
    background-color: mediumvioletred;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo button {
    padding: 4px 16px 4px 16px;
    margin: 18px;
}

.confeitaria {
    display: flex;
    align-items: center;
}

.logo img {
    width: 24px;
    height: 24px;
    padding: 16px;
}

/* Estilização Barra de navegação */
.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    height: 86vh;
    background-color: #f2d0e0;
}

.barra li {
    justify-content: space-between;
}

.barra ul li a img {
    width: 24px;
    height: 24px;
}