* {
    margin: 0;
    padding: 0;
}

/* Estilização Header */

header {
    background-color: mediumvioletred;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo button {
    padding: 4px 16px 4px 16px;
    margin: 18px;
}

.confeitaria {
    display: flex;
    align-items: center;
}

.logo img {
    width: 24px;
    height: 24px;
    padding: 16px;
}

/* Estilização Barra de navegação */
img {
    width: 30px;
    height: 30px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

li {
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(165, 151, 151);
}

.barra {
    background-color: #f2d0e0;
    position: fixed;
    height: 100%;
    width: 20%;
}

/* Estilização Conteúdo */



