* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 268px 268px 60px;
    grid-template-areas: "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer";
}

header {
    background-color: rgb(231, 186, 186);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

header input {
    padding: 10px 40px 10px 10px;
    margin: 20px;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    padding: 20px;
}

.logo h2 {
    color: red
}

/* Estilização da Main - Videos */
main{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(4, 25%);
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.video video {
    width: 300px;
    height: 200px;
}


/* Estilização do Footer */

footer{
    display: grid;
    grid-area: footer;
    text-align: center;
    background-color: rgb(231, 186, 186) ;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: red;
}