.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgray
}

.header__logo {
    height: 56px ;
    object-fit: contain;
}

.header__icon {
    padding: 12px;
    margin: 0 8px;
}